# Dependencies
node_modules/
*.tgz
npm-debug.log
.pnpm-store/

# Build
dist/
.turbo/

# Testing
coverage/
.coverage-temp/
.github/badge-data/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-examples/

# Miscellaneous
.DS_Store
debug.log
sh.exe.stackdump

# Temporary files
temp/
temp.*
temp-*
temp-preview-*.txt
tmp/
tmp.*
tmp-*

# Environment
.env
